

UPSTREAM_BASE_URL=https://stalkea.ai/api

UPSTREAM_INSTAGRAM_PATH=/instagram.php
NEXT_PUBLIC_CTA_CHECKOUT_URL=https://trk.ozemgummy.com/track.js
MOBILE_ONLY=false
NEXT_PUBLIC_ALLOW_LOCAL_VIP=false

DIGISTORE24_WEBHOOK_SECRET="um"
DIGISTORE24_TEST_MODE="true"

SEARCHAPI_API_KEY=vji3BeN3MbX3gPapiEmRFV7X
SEARCHAPI_BASE_URL="https://www.searchapi.io/api/v1/search"


AUTH_DISABLED="true"


NEXT_PUBLIC_DIGISTORE24_CHECKOUT_CREDITS_100="https://..."
NEXT_PUBLIC_DIGISTORE24_CHECKOUT_CREDITS_600="https://..."
NEXT_PUBLIC_DIGISTORE24_CHECKOUT_CREDITS_1500="https://..."
NEXT_PUBLIC_DIGISTORE24_CHECKOUT_CREDITS_5000="https://..."
NEXT_PUBLIC_DIGISTORE24_CHECKOUT_CREDITS_10000="https://..."


NEXT_PUBLIC_DEV_START_CREDITS="10000"